# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files
*.py text
*.md text
*.yml text
*.yaml text
*.json text
*.csv text
*.sql text
*.html text
*.js text
*.css text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf