beautifulsoup4
certifi
charset-normalizer
idna
requests
soupsieve
typing_extensions
urllib3
plotly
pandas
numpy
streamlit
folium
streamlit-folium
streamlit-analytics
python-dateutil
geocoder
pyperclip
datetime
altair==4.2.2
