beautifulsoup4
certifi
charset-normalizer
idna
requests
soupsieve
typing_extensions
urllib3
plotly
pandas
streamlit>=1.24.0
folium
streamlit-folium
streamlit-analytics
numpy
python-dateutil
geocoder
pyperclip
datetime